{{/* Overrides Docsy's _td-content.html: adds CloudCannon editable regions to the title, description and body. */ -}}
<div class="td-content">
	<h1 data-editable="text" data-type="span" data-prop="title">{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead" data-editable="text" data-type="block" data-prop="description">{{ . | markdownify }}</div>{{ end }}
	<header class="article-meta">
		{{ partial "taxonomy_terms_article_wrapper.html" . -}}
		{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) -}}
			{{ partial "reading-time.html" . -}}
		{{ end -}}
	</header>
	{{ .Render "_td-content-after-header" -}}
	<div class="td-content td-content--body" data-editable="text" data-type="block" data-prop="@content">
	{{ .Content }}
	</div>
	{{ partial "feedback.html" . -}}
	{{ if (.Site.Config.Services.Disqus.Shortname) -}}
		<br />
		{{- partial "disqus-comment.html" . -}}
	{{ end -}}
	{{ partial "page-meta-lastmod.html" . }}
</div>
{{/**/ -}}
